/* KV-Tube - YouTube Clone Design System */

/* Core */
@import 'modules/variables.css';
@import 'modules/base.css';
@import 'modules/utils.css';

/* Layout & Structure */
@import 'modules/layout.css';
@import 'modules/grid.css';

/* Components */
@import 'modules/components.css';
@import 'modules/cards.css';

/* Pages */
@import 'modules/pages.css';